<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Esta plantilla simplemente muestra un mensaje de éxito indicando que el registro se ha completado y que el usuario
debe revisar su correo electrónico para confirmar su cuenta.-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro exitoso</title>
</head>
<body>
<h1>¡Registro exitoso!</h1>
<p>Tu registro se ha completado con éxito. Por favor, revisa tu correo electrónico para confirmar tu cuenta.</p>
</body>
</html>